
  <div class="col-md-12">
    <div class="card">
      <h3>Related Requests</h3>
      <table #loanDetailsTable class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
      </table>
    </div>
    <div class="card">
      <h3>Healthcare Requests</h3>
      <table #HealthcareDetailsTable class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
      </table>
    </div>
    <div class="card">
      <h3>My Documents</h3>
      <table #myDocuments class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
      </table>
    </div>
    <div class="card">
      <h3>Doctors Documents</h3>
      <table #myDoctorDocuments class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
      </table>
    </div>
  </div>