<div class="col-12 right">
  <div class="box">
      <!--div class="logo">
          WhatsApp Customer relationship management
      </div-->
      <div class="head-text">
          <h5>Welcome!</h5>
          <h6>Please Sign In to Continue</h6>
      </div>
      <div class="form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
              <div class="form-ele">
                  <label>
                      Username
                  </label>
                  <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" 
                  name="username" placeholder="Username" id="username">
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
              </div>
              <div class="form-ele">
                  <label>
                      Password
                  </label>
                  <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                  name="pass" placeholder="Password" id="password" >
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
              </div>
              <div class="form-ele">
                  <button [disabled]="loading" class="btn btn-login" type="submit">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Login
                  </button>
              </div>
              <a href="" class="link">
                  Forgot your password ?
              </a>
              <!--div class="error">
                  Invalid Credentials, Please Check and Try Again
              </div-->
          </form>
      </div>
  </div>
</div>  