.m-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: 0;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    padding: 20px 15px;
}

.m-head {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.94rem + 2px);
    padding: 0.47rem 0.75rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    max-width: 500px;
}

.btn-save {
    background: #556ee6 !important;
    color: #fff !important;
    font-size: 16px;
    height: 38px;
}

table {
    width: 100%;
}

table tr th {
    padding: 10px 20px 12px !important;
    background: #556ee6;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    border: none;
    white-space: nowrap;
}

table tr td {
    padding: 10px 20px 12px !important;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
}

table .id {
    width: 80px;
}
table .abb {
    width: 200px;
}

.paging {
    font-size: 12px;
}

.h-panel .h-item {
    margin-right: 20px;
}

.h-panel .h-item label {
    font-size: 13px;
}

.h-panel .h-item .btn-save {
    background: #556ee6 !important;
    color: #fff !important;
    font-size: 16px;
    height: 38px;
}
