<app-header></app-header>
<div class="container-fluid" style="background-color: #f5f5f8; min-height: calc(100vh - 113px);">

<div class="col-12 pt-3">
  <div class="m-body">
    <div class="d-flex align-items-end h-panel" >
      <div class="h-item">
        <label>
          API Name
        </label>
        <input type="text" class="form-control" placeholder="API Name"  [(ngModel)]="headerModel.apiName">
      </div>
      <div class="h-item">
        <label>
          API Url
        </label>
        <input type="text" class="form-control" placeholder="API Name" [(ngModel)]="headerModel.apiUrl">
      </div>
      <div class="h-item">
        <label>
          API Header JSON
        </label>
        <input type="text" class="form-control" placeholder="API Name" [(ngModel)]="headerModel.apiHeader">
      </div>
      <div class="h-item">
        <label>
         Request Type
        </label>
        <select class="form-control" style="min-width: 200px;">
          <option>
            Get
          </option>
          <option>
            Post
          </option>
        </select>
      </div>
      <div class="h-item">
        <button type="button" class="btn btn-secondary" (click)="hideRecordData()">
          Reset
        </button>
      </div>
      <div class="h-item">
        <button type="button" class="btn btn-save" (click)="showRecordData()">
          Submit
        </button>
      </div>
    </div>   
    <p style="font-size: 12px; color: red; margin-top: 5px;" *ngIf="isHeaderInValid">
      Please fill all the above values
    </p>
    
  </div>
</div>

 <div class="col-12 pt-3" *ngIf="showRecord">
  <div class="m-body">
    <div class="col-12 pr-2 m-head d-flex justify-content-between align-items-center">
      <div>
        Department Abbreviation to Full Name Mapping
      </div>
      <div class="">
        <button type="button" class="btn btn-csv mr-3" (click)="download()">Convert to CSV</button>
        <button type="button" class="btn btn-secondary mr-3" (click)="clearData()">Clear Data</button>
        <button type="button" class="btn btn-save" (click)="saveData()">Save Data</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 p-0">
        <table class="table">
          <thead>
           <tr>
            <th class="id">Id</th>
            <th class="abb">Department Abbreviation</th>
            <th class="f-name">Department Complete Name (English)</th>
            <th class="f-name">Department Complete Name (Chinese)</th>
            <th class="f-name">Department Complete Name (French)</th>


           </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of tableData">
              <td class="id">{{user.id}}</td>
              <td class="abb">{{user.abb}}</td>
              <td class="f-name"><input type="text" [(ngModel)]="user.fullNameE" class="form-control" placeholder="Department Name in English" required></td>
              <td class="f-name"><input type="text" [(ngModel)]="user.fullNameC" class="form-control" placeholder="Department Name in Chinese"></td>
              <td class="f-name"><input type="text" [(ngModel)]="user.fullNameF" class="form-control" placeholder="Department Name in French"></td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>

    <div class="paging mt-3">
      Showing Page 1 of 1
    </div>
  </div>

 </div>

</div>