<div class="limiter">
  <div class="container-login100" style="background-image: url('../assets/images/img-01.jpg');">
    <div class="login-form">
      <form [formGroup]="loginForm" (submit)="validateUser($event)">
        <div class="login100-form-avatar">
          <img src="../assets/images/login-avatar.jpeg" alt="AVATAR">
        </div>
        <span class="login100-form-title p-t-10"></span>
        <!--
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Email *" value="" id="username" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Your Password *" value="" id="password" />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Login" />
        </div>
        <div class="form-group">
          <a href="#" class="ForgetPwd">Forget Password?</a>
        </div>
        -->


        <div class='mx-auto wrap-input100 alert alert-danger p-l-2 p-r-2' #incorrectPasswordMsg style="visibility: hidden;">
          <span class="p-l-20 p-r-20">Username or password is incorrect.</span>
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required" [ngClass]="{'alert-validate': submitted && loginForm.controls.username.errors}">
          <input class="input100" type="text" formControlName="username" name="username" placeholder="Username" id="username">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="icon-user"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required" [ngClass]="{'alert-validate': submitted && loginForm.controls.pass.errors}">
          <input class="input100" type="password" formControlName="pass" name="pass" placeholder="Password" id="password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="icon-lock"></i>
          </span>
        </div>

        <div class="container-login100-form-btn p-t-10">
          <button type="submit" class="login100-form-btn">Login</button>
        </div>

        <div class="text-center w-full p-t-25 p-b-30">
          <a href="#" class="txt1">Forgot Username / Password?</a>
        </div>

        <div class="text-center w-full">
          <a class="txt1" href="#">Create new account<i class="fa fa-long-arrow-right"></i></a>
        </div>


      </form>
    </div>
  </div>
</div>