<!--The content below is only a placeholder and can be replaced.
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">

    <a class="navbar-brand" routerLink="/dashboard"><span>WhatsApp CRM</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Home</a></li>
        <li class="nav-item"><a routerLink="/accounts" class="nav-link">Accounts</a></li>
        <li class="nav-item"><a routerLink="/contacts" class="nav-link">Contacts</a></li>
        <li class="nav-item active"><a routerLink="/loanapplications" class="nav-link">Requests</a></li>
        <li class="nav-item"><a routerLink="/scripts" class="nav-link">Scripts</a></li>
        <li class="nav-item"><a routerLink="/communicates" class="nav-link">Communicate</a></li>
        <li class="nav-item cta"><a class="nav-link logout" (click)="logout($event)">
            <span class="icon-sign-out"></span>Log Out</a>
        </li>
      </ul>
      <span class="navbar-text">
        Welcome {{loggedinUser | titlecase}}
      </span>
    </div>

</nav>
<!-- END nav -->
<app-header></app-header>
<div class="main-panel">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/loanapplications">Request</a></li>
              <li class="breadcrumb-item active">Details</li>
            </ol>
      </div>
      <div class="col-md-6 col-sm-6 col-6 text-right" style="padding-top: 0.75rem;">
          <button class="btn btn-primary" (click)="resetForm()" *ngIf="editMode" style="margin-right: 10px;">Cancel</button>
          <button class="btn btn-primary" (click)="editForm()" *ngIf="editMode === false">Edit</button>
          <button class="btn btn-primary" *ngIf="editMode" (click)="updateOpportunity()">Save</button>
      </div>
    </div>    
  </div>

  <div class="bootstrap-iso">
    <div class="col-md-12">
      <div class="card">
        <form method="post" [formGroup]="opportunityForm">
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-success" *ngIf="isDataSaved" role="alert">
              Request has been successfully Updated.
              </div>
              <div class="alert alert-danger" *ngIf="isErrorInDataSaved" role="alert">
                {{errorInDataSaved}}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="opportunityNumber">Request Number</label>
                <input class="form-control" id="opportunityNumber" name="opportunityNumber" type="text" formControlName="opportunityNumber" readonly="readonly"/>
              </div>							
              <div class="form-group">
                <label class="control-label" for="loanAmount">Loan Amount</label>
                <input class="form-control" id="loanAmount" name="loanAmount" type="text" formControlName="loanAmount" readonly="readonly"/>
              </div>
              <div class="form-group">
                  <label class="control-label" for="loanAmountSanctioned">Loan Amount Sanctioned</label>
                  <input class="form-control" id="loanAmountSanctioned" name="loanAmountSanctioned" type="text" formControlName="loanAmountSanctioned" readonly="readonly"/>
                </div>
              <div class="form-group">
                <label class="control-label" for="subType">Sub Type</label>
                <input class="form-control" id="subType" name="subType" type="text" formControlName="subType" readonly="readonly"/>
              </div>
              <div class="form-group">
                <label class="control-label" for="currentAddress">Current Address</label>
                <input class="form-control" id="currentAddress" name="currentAddress" type="text" formControlName="currentAddress" [readonly]="!editMode"/>
                <div *ngIf="opportunityForm.controls['currentAddress'].invalid && (opportunityForm.controls['currentAddress'].dirty || opportunityForm.controls['currentAddress'].touched || submitted)">
                    <div *ngIf="opportunityForm.controls['currentAddress'].errors.required" class="error">
                      Current address is required.
                    </div>
                </div>
              </div>								
              <div class="form-group">
                <label class="control-label" for="zipcode">Zipcode</label>
                <input class="form-control" id="zipcode" name="zipcode" type="text" formControlName="zipcode" [readonly]="!editMode"/>
                <div *ngIf="opportunityForm.controls['zipcode'].invalid && (opportunityForm.controls['zipcode'].dirty || opportunityForm.controls['zipcode'].touched || submitted)">
                    <div *ngIf="opportunityForm.controls['zipcode'].errors.required" class="error">
                      Zipcode is required.
                    </div>
                    <div *ngIf="opportunityForm.controls['zipcode'].errors.pattern" class="error">
                      Enter valid zipcode.
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="profType">Profession Type</label>
                <input class="form-control" type="text" formControlName="profType" readonly="readonly" *ngIf="!editMode"/>
                <select class="form-control" id="profType" name="profType" formControlName="profType" *ngIf="editMode">
                  <option value="SA">Salaried</option>
                  <option value="SE">Self employed</option>
                </select>
                <div *ngIf="opportunityForm.controls['profType'].invalid && (opportunityForm.controls['profType'].dirty || opportunityForm.controls['profType'].touched || submitted)">
                    <div *ngIf="opportunityForm.controls['profType'].errors.required" class="error">
                      Profession type is required.
                    </div>
                </div>
              </div>              	
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="status">Status</label>
                <input class="form-control" id="status" name="status" type="text" formControlName="status" readonly="readonly"/>
              </div>
              <div class="form-group">
                <label class="control-label" for="loanType">Loan Type</label>
                <input class="form-control" id="loanType" name="loanType" type="text" formControlName="loanType" readonly="readonly"/>
              </div>
              <div class="form-group">
                <label class="control-label" for="accountName">Account Name</label>
                <input class="form-control" id="accountName" name="accountName" type="text" formControlName="accountName" readonly="readonly"/>
              </div>
              <div class="form-group">
                  <label class="control-label" for="pan">PAN</label>
                  <input class="form-control" id="pan" name="pan" type="text" formControlName="pan" readonly="readonly"/>
                </div>
              <div class="form-group">
                <label class="control-label" for="city">City</label>
                <input class="form-control" id="city" name="city" type="text" formControlName="city" [readonly]="!editMode"/>
                <div *ngIf="opportunityForm.controls['city'].invalid && (opportunityForm.controls['city'].dirty || opportunityForm.controls['city'].touched || submitted)">
                    <div *ngIf="opportunityForm.controls['city'].errors.required" class="error">
                      City is required.
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="state">State</label>
                <input class="form-control" type="text" readonly="readonly" formControlName="state" *ngIf="!editMode" />
                <select class="form-control" id="state" name="state" formControlName="state" *ngIf="editMode">
                  <option *ngFor="let state of states" value="{{state.code}}">{{state.name}}</option>
                </select>
                <div *ngIf="opportunityForm.controls['state'].invalid && (opportunityForm.controls['state'].dirty || opportunityForm.controls['state'].touched || submitted)">
                    <div *ngIf="opportunityForm.controls['state'].errors.required" class="error">
                      State is required.
                    </div>
                </div>
              </div>              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="card">
      <h3>Related Contacts</h3>
      <table #contact_table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
          <tr>
            <th>Contact Id</th>
            <th>Name</th>
            <th>Registered Mobile Number</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Id Number</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <td><a routerLink='/contact/{{contact.contactid}}'>{{contact["contactid"]}}</a></td>
            <td>{{contact["Name"]}}</td>
            <td>{{contact["Registered Mobile Number"]}}</td>
            <td>{{contact["Date Of Birth"]}}</td>
            <td>{{contact["Email"]}}</td>
            <td>{{contact["FSSAI Number"]}}</td>
            <td>{{contact["Due Date"] | date:"yyyy-MM-dd" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
