<app-header></app-header>
<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
      <app-dashboard-active-conversations></app-dashboard-active-conversations>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
      <app-dashboard-new-contacts></app-dashboard-new-contacts>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
      <app-dashboard-responded-last-hour></app-dashboard-responded-last-hour>
    </div>
    <div class="col-12 col-sm-6 col-lg-6">
      <app-dashboard-active-request></app-dashboard-active-request>
    </div>
    <div class="col-12 col-sm-6 col-lg-6">
     <app-dashboard-all-conversation></app-dashboard-all-conversation>
    </div>
    <div class="col-12 col-sm-6 col-lg-12 mb-3">
      <app-dashboard-most-time></app-dashboard-most-time>
    </div>
  </div>
</div>

