<!--app-header></app-header-->

<div class="login-container">
  <div class="d-flex p-0" style="width: 100%;">
      <div class="col-12 col-lg-7 left">
          <div class="overlay">

          </div>
          <h1>
            Healthcare CX on WhatsApp
          </h1>
          <h3>
            We bring you the first ever customer experience platform on WhatsApp. Interact with your customers on platform of their choice while providing them best experience 24X7.
          </h3>
          <!--div class="news">
              <div class="item">
                  <div class="head">
                      Latest Updates
                  </div>
                  <div class="list">
                      <div class="item">
                          <div class="date">
                              04 Mar, 2020
                          </div>
                          <div class="title">
                              Donec pede justo, fringilla vele
                          </div>
                          <div class="desc">
                              If several languages coalesce, the grammar of the
                              resulting language
                          </div>
                      </div>
                      <div class="item">
                          <div class="date">
                              04 Mar, 2020
                          </div>
                          <div class="title">
                              Donec pede justo, fringilla vele
                          </div>
                          <div class="desc">
                              If several languages coalesce, the grammar of the
                              resulting language
                          </div>
                      </div>
                      <div class="item">
                          <div class="date">
                              04 Mar, 2020
                          </div>
                          <div class="title">
                              Donec pede justo, fringilla vele
                          </div>
                          <div class="desc">
                              If several languages coalesce, the grammar of the
                              resulting language
                          </div>
                      </div>
                  </div>
              </div>

          </div-->
      </div>
      <app-user-login class="col-lg-4"></app-user-login>
  </div>
</div>