<div class="card">
  <div class="head">
  </div>
  <div class="body">
    <div class="data">
      <div class="head">
        Recent Conversations
      </div>
      <div class="value">
        <div class="timeLeft">
          {{timeLeft}}
        </div>
      </div>
    </div>
    <div class="avatar">
      <div class="avatar-title">
        <span class="material-icons">
          forum
          </span>
      </div>
    </div>
  </div>
  <div class="foot">
    <a routerLink="/dashboard/currentActiveContacts"
                  [ngClass]="{'disabled':single == 0, 'card-link': true}">View Details</a>
  </div>
</div>